$blue: #039;
$lightgray: #999;
$mediumgray: #666;
$darkgray: #333;
$lightblue: #4c70b7;
$danger: #ad2121;
$info: #1e90ff;
$warning: #e3bc08;
$success: #006400;

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 30px;
}

html,
body {
  height: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::ng-deep mat-dialog-container {
  padding: 0px !important;
  margin: 0px !important;
}
